Source: sbjson
Section: libs
Priority: optional
Maintainer: Jeroen Dekkers <jeroen@dekkers.ch>
Build-Depends: debhelper (>= 9), cdbs, gobjc, gnustep-make, libgnustep-base-dev
Standards-Version: 3.9.3
Homepage: http://stig.github.com/json-framework
Vcs-Browser: https://github.com/dekkers/sbjson
Vcs-Git: git://github.com/dekkers/sbjson.git

Package: libsbjson2.3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${gnustep:Depends}
Provides: libsbjson
Description: Objective-C JSON library
 A strict JSON parser and generator for Objective-C. It adds categories
 to existing Objective-C objects for a super-simple interface. More
 flexible APIs are also provided for added control.
 .
 This package contains the shared library.

Package: libsbjson-dev
Section: libdevel
Priority: extra
Architecture: any
Depends: libsbjson2.3 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}, ${gnustep:Depends}
Description: Objective-C JSON library (development files)
 A strict JSON parser and generator for Objective-C. It adds categories
 to existing Objective-C objects for a super-simple interface. More
 flexible APIs are also provided for added control.
 .
 This package contains the development files.
